#visualizacaoCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-favorito {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-favorito img {
    width: 100%;
    height: 250px;
    border-radius: .5rem;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-favorito img:hover {
    cursor: pointer
}