.navbar {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    height: 65px;
    padding-left: 1rem;
    background: #fbfbfb;
}

body {
    background-color: #F0F2F5;
}

.container {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***** Formulários *****/
.formulario label {
    transition: all 0.25s;
}

.formulario input {
    transition: all 0.25s;
    font-size: 0.9rem;
}

.formulario .form-floating:focus-within {
    z-index: 2;
    transition: all 0.5s;
}

.formulario input:focus {
    box-shadow: #dbb597 0px 0px 5px 0px, #dbb597 0px 0px 1px 0px !important;
    border: 1px solid #dfc5b2 !important;
}

/***** Botões *****/
.btnCadastrar {
    background: #FF8A00;
    border: none;
    color: #FFFFFF;
    padding: 0.75rem;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    transition: all 0.5s;
}

.btnCadastrar:hover {
    background: #ee7f00;
    color: #FFFFFF;
}

.btnCadastrar:active {
    background: #e17800 !important;
    color: #FFFFFF !important;
}

.btnCancelar {
    background: #e8eaed;
    border: none;
    color: #515151;
    padding: 0.75rem;
    transition: all 0.5s;
}

.btnCancelar:hover {
    background: #dfe1e4;
    color: #515151;
}

.btnCancelar:active {
    background: #d4d7db !important;
    color: #515151 !important;
}

.btnCadastrar[disabled] {
    background-color: #cccccc;
    /* Cinza */
    cursor: not-allowed;
}

/***** Tooltip (Balões de aviso) *****/
.tooltip-customizada {
    background: #e17800;
    color: white;
    font-weight: 600;
}

.olho-senha {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: grey;
}

/******** Sweet Alert 2 (Popups) ********/
.custom-popup {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.custom-error-popup {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    width: 50vw;
}

.custom-button-popup {
    width: 10rem;
    margin: 0.5rem;
    font-weight: 700;
    border-radius: 0.5rem;
}

body.swal2-shown>[aria-hidden="true"] {
    filter: blur(25px);
    transition: 0.5s all;
}

.colored-toast {
    color: white;
    border-radius: 0.5rem;
}

.colored-toast.swal2-icon-success {
    background-color: #198754 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #DC3545 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f77e1b !important;
}

/* Spinner de carregamento */
.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    background-color: #ffc58f;
    border-radius: 50%;
    animation: scale50 1s infinite ease-in-out;
}

.loader::before {
    top: auto;
    bottom: 0;
    background-color: #FF3D00;
    animation-delay: 0.5s;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale50 {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}