.navbar {
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 1rem;
}

.navbar > img {
    width: 50px;
}

.botoes_barra_superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes_barra_superior > a {
    margin: 0 .75rem;
    font-size: 0.9rem;
}

#cboCategoria {
    width: 150px;
}

#txtPesquisar {
    width: 250px;
    transition: all 0.25s;
}
